<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US" class="supernova">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" type="application/json+oembed" href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F212277524110041" title="oEmbed Form">
    <link rel="alternate" type="text/xml+oembed" href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F212277524110041" title="oEmbed Form">
    <meta property="og:title" content="Enrolment Enquiry">
    <meta property="og:url" content="https://form.jotform.com/212277524110041">
    <meta property="og:description" content="Please click the link to complete this form.">
    <meta name="slack-app-id" content="AHNMASS8M">
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/landing/opengraph.png" />
    <meta property="og:image" content="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png" />
    <link rel="shortcut icon" href="https://cdn.jotfor.ms/assets/img/favicons/favicon-2021-light%402x.png">
    <script>
        var favicon = document.querySelector('link[rel="shortcut icon"]');
        window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
        if (favicon && window.isDarkMode) {
            favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
        }
    </script>
    <link rel="canonical" href="https://form.jotform.com/212277524110041" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
    <meta name="HandheldFriendly" content="true" />
    <title>Enrolment Enquiry</title>
    <style type="text/css">
        @media print {
            .form-section {
                display: inline !important
            }
            .form-pagebreak {
                display: none !important
            }
            .form-section-closed {
                height: auto !important
            }
            .page-section {
                position: initial !important
            }
        }
    </style>
    <link type="text/css" rel="stylesheet" href="formX/cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5f7ed99c2c2c7240ba580251" />
    <link type="text/css" rel="stylesheet" href="formX/cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.39015" />
    <link type="text/css" rel="stylesheet" href="formX/cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.39015" />
    <style type="text/css" id="form-designer-style">
        /* Injected CSS Code */

        /*PREFERENCES STYLE*/

        .form-all {
            font-family: Inter, sans-serif;
        }

        .form-all .qq-upload-button,
        .form-all .form-submit-button,
        .form-all .form-submit-reset,
        .form-all .form-submit-print {
            font-family: Inter, sans-serif;
        }

        .form-all .form-pagebreak-back-container,
        .form-all .form-pagebreak-next-container {
            font-family: Inter, sans-serif;
        }

        .form-header-group {
            font-family: Inter, sans-serif;
        }

        .form-label {
            font-family: Inter, sans-serif;
        }

        .form-label.form-label-auto {
            display: block;
            float: none;
            text-align: left;
            width: 100%;
        }

        .form-line {
            margin-top: 12px;
            margin-bottom: 12px;
        }

        .form-all {
            max-width: 852px;
            width: 100%;
        }

        .form-label.form-label-left,
        .form-label.form-label-right,
        .form-label.form-label-left.form-label-auto,
        .form-label.form-label-right.form-label-auto {
            width: 229px;
        }

        .form-all {
            font-size: 16px
        }

        .form-all .qq-upload-button,
        .form-all .qq-upload-button,
        .form-all .form-submit-button,
        .form-all .form-submit-reset,
        .form-all .form-submit-print {
            font-size: 16px
        }

        .form-all .form-pagebreak-back-container,
        .form-all .form-pagebreak-next-container {
            font-size: 16px
        }

        .supernova .form-all,
        .form-all {
            background-color: #fff;
        }

        .form-all {
            color: #2C3345;
        }

        .form-header-group .form-header {
            color: #2C3345;
        }

        .form-header-group .form-subHeader {
            color: #2C3345;
        }

        .form-label-top,
        .form-label-left,
        .form-label-right,
        .form-html,
        .form-checkbox-item label,
        .form-radio-item label {
            color: #2C3345;
        }

        .form-sub-label {
            color: #464d5f;
        }

        .supernova {
            background-color: #ecedf3;
        }

        .supernova body {
            background: transparent;
        }

        .form-textbox,
        .form-textarea,
        .form-dropdown,
        .form-radio-other-input,
        .form-checkbox-other-input,
        .form-captcha input,
        .form-spinner input {
            background-color: #fff;
        }

        .supernova {
            background-image: none;
        }

        #stage {
            background-image: none;
        }

        .form-all {
            background-image: none;
        }

        .ie-8 .form-all:before {
            display: none;
        }

        .ie-8 {
            margin-top: auto;
            margin-top: initial;
        }

        /*PREFERENCES STYLE*/

        /*__INSPECT_SEPERATOR__*/

        /* Injected CSS Code */
    </style>


 <style>
    
.errors {
    background: #e79892;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    border: 1px solid #e74c3c;
  }
  
  .errors ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .success {
    background: #80cca0;
    padding: 5px;
    margin-bottom: 10px;
    min-width: 200px;
    display: inline-block;
    border: 1px solid black;
  }

  
.content-container{
    padding: 30px;
    position: relative;
}

.content-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("2.png");
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    opacity: .1;
    margin-top: -400px;
}

.content-container .contents{
    position: relative;
    z-index: 5;
}
</style>
    <script src="formX/cdn01.jotfor.ms/static/prototype.forms.js?3.3.39015" type="text/javascript"></script>
    <script src="formX/cdn02.jotfor.ms/static/jotform.forms.js?3.3.39015" type="text/javascript"></script>
    <script src="formX/cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.39015" type="text/javascript"></script>
    <script defer src="formX/cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.39015" type="text/javascript"></script>
    <script defer src="formX/cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.39015" type="text/javascript"></script>
    <script defer src="formX/cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
  
</head>

<body>
    <div class="content-container" style="page-break-before: always">
    <form class="jotform-form" action="/form" method="post" name="form_212277524110041" id="212277524110041" accept-charset="utf-8" autocomplete="on"><input type="hidden" name="formID" value="212277524110041" /><input type="hidden" id="JWTContainer" value="" /><input type="hidden" id="cardinalOrderNumber" value="" />
        <div role="main" class="form-all">
            <style>
                .form-all:before {
                    background: none;
                }
            </style>
            <ul class="form-section page-section">
                
                  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="success" class="alert alert-success" {{#if noMessages}}hidden{{/if}}>
            {{ successMsg }}
     
        </div>
    </div>
						
		<div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <div id="danger" class="alert alert-danger" {{#if noMessages2}}hidden{{/if}}>
            {{ errorMsg }}
     
        </div>
    </div>										<!--begin::Form-->
												               	{{# if success }}
    <section class="success">
        <h2>Successful Validation!</h2>
    </section>
{{ else }}
    {{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>

        {{/if}}
        {{#if message}}
        <div  class="{{message.type}}">
            <strong>{{message.intro}}</strong>{{message.message}}
        </div>
        {{/if}}
                <li  class="form-input-wide" data-type="control_head">
                    <div class="form-header-group  header-large">
                        <div class="header-text httal htvam">
                            <h1 id="header_1" class="form-header" data-component="header">Enrolment Enquiry</h1>
                        </div>
                        
                    </div>
                </li>

                <li class="form-line jf-required" data-type="control_dropdown" id="id_3"><label class="form-label form-label-top form-label-auto" id="label_3" for="input_3"> Salutation<span class="form-required">*</span> </label>
                    <div id="cid_3" class="form-input-wide jf-required" data-layout="half"> <select class="form-dropdown validate[required]" id="input_3" name="q3_salutation" style="width:310px" data-component="dropdown" required="" aria-label="Salutation">
            <option value="">Please Select</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Mrs</option>
            <option value="Miss">Miss</option>
            <option value="Dr">Dr</option>
            <option value="Other">Other</option>
          </select> </div>
                </li>
                <li class="form-line jf-required" data-type="control_fullname" id="id_4"><label class="form-label form-label-top form-label-auto" id="label_4" for="first_4"> Your Name<span class="form-required">*</span> </label>
                    <div id="cid_4" class="form-input-wide jf-required" data-layout="full">
                        <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top" data-input-type="first"><input type="text" id="first_4" name="firstName" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_4 given-name" size="10" value="" data-component="first" aria-labelledby="label_4 sublabel_4_first" required="" /><label class="form-sub-label" for="first_4" id="sublabel_4_first" style="min-height:13px" aria-hidden="false">First Name</label></span>
                            <span
                                class="form-sub-label-container" style="vertical-align:top" data-input-type="last"><input type="text" id="last_4" name="lastName" class="form-textbox validate[required]" data-defaultvalue="" autoComplete="section-input_4 family-name" size="15" value="" data-component="last" aria-labelledby="label_4 sublabel_4_last"
                                    required="" /><label class="form-sub-label" for="last_4" id="sublabel_4_last" style="min-height:13px" aria-hidden="false">Last Name</label></span>
                        </div>
                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_address" id="id_5"><label class="form-label form-label-top form-label-auto" id="label_5" for="input_5_addr_line1"> Address<span class="form-required">*</span> </label>
                    <div id="cid_5" class="form-input-wide jf-required" data-layout="full">
                        <div summary="" class="form-address-table jsTest-addressField">
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_5_addr_line1" name="address" class="form-textbox validate[required] form-address-line" data-defaultvalue="" autoComplete="section-input_5 address-line1" value="" data-component="address_line_1" aria-labelledby="label_5 sublabel_5_addr_line1" required="" /><label class="form-sub-label" for="input_5_addr_line1" id="sublabel_5_addr_line1" style="min-height:13px" aria-hidden="false">Street Address</label></span></span>
                            </div>
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-street-line jsTest-address-lineField"><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_5_addr_line2" name="address1" class="form-textbox form-address-line" data-defaultvalue="" autoComplete="section-input_5 address-line2" value="" data-component="address_line_2" aria-labelledby="label_5 sublabel_5_addr_line2" /><label class="form-sub-label" for="input_5_addr_line2" id="sublabel_5_addr_line2" style="min-height:13px" aria-hidden="false">Work Address</label></span></span>
                            </div>
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField">
                                <span class="form-address-line form-address-city-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_5_city" name="city" class="form-textbox validate[required] form-address-city" data-defaultvalue="" autoComplete="section-input_5 address-level2" value="" data-component="city" aria-labelledby="label_5 sublabel_5_city" required="" /><label class="form-sub-label" for="input_5_city" id="sublabel_5_city" style="min-height:13px" aria-hidden="false">City</label></span></span>
                                <span
                                    class="form-address-line form-address-state-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_5_state" name="state" class="form-textbox validate[required] form-address-state" data-defaultvalue="" autoComplete="section-input_5 address-level1" value="" data-component="state" aria-labelledby="label_5 sublabel_5_state" required="" /><label class="form-sub-label" for="input_5_state" id="sublabel_5_state" style="min-height:13px" aria-hidden="false">State / Province</label></span></span>
                            </div>
                            <div class="form-address-line-wrapper jsTest-address-line-wrapperField"><span class="form-address-line form-address-zip-line jsTest-address-lineField "><span class="form-sub-label-container" style="vertical-align:top"><input type="text" id="input_5_postal" name="postal" class="form-textbox validate[required] form-address-postal" data-defaultvalue="" autoComplete="section-input_5 postal-code" value="" data-component="zip" aria-labelledby="label_5 sublabel_5_postal" required="" /><label class="form-sub-label" for="input_5_postal" id="sublabel_5_postal" style="min-height:13px" aria-hidden="false">Postal / Zip Code</label></span></span>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="form-line jf-required" data-type="control_phone" id="id_6"><label class="form-label form-label-top form-label-auto" id="label_6" for="input_6_full"> Phone Number<span class="form-required">*</span> </label>
                       <div class="form-address-line-wrapper jsTest-address-line-wrapperField"> <span class="form-address-line form-address-city-line jsTest-address-lineField ">  <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_6_full" name="phoneNumber" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue="" autoComplete="section-input_6 tel-national" style="width:50px" data-masked="true" value="" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_6 sublabel_6_masked" required="" /><label class="form-sub-label" for="input_6_full" id="sublabel_6_masked" style="min-height:13px" aria-hidden="false">Please enter a valid phone number.</label></span>    </span>       
                     <span class="form-address-line form-address-city-line jsTest-address-lineField "> <span class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="input_6_full" name="phoneNumber2" data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]" data-defaultvalue="" autoComplete="section-input_6 tel-national" style="width:50px" data-masked="true" value="" placeholder="(000) 000-0000" data-component="phone" aria-labelledby="label_6 sublabel_6_masked" required="" /><label class="form-sub-label" for="input_6_full" id="sublabel_6_masked" style="min-height:13px" aria-hidden="false">Please enter a valid phone number.</label></span> </span>       
                                    </div>
                </li>
                <li class="form-line jf-required" data-type="control_email" id="id_7"><label class="form-label form-label-top form-label-auto" id="label_7" for="input_7"> Email<span class="form-required">*</span> </label>
 <div class="form-address-line-wrapper jsTest-address-line-wrapperField"> <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_7" name="email" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:50px" size="310" value="" data-component="email" aria-labelledby="label_7 sublabel_input_7" required="" /><label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px" aria-hidden="false">example@example.com</label></span>        
 
  <span class="form-sub-label-container" style="vertical-align:top"><input type="email" id="input_7" name="email2" class="form-textbox validate[required, Email]" data-defaultvalue="" style="width:50px" size="310" value="" data-component="email" aria-labelledby="label_7 sublabel_input_7" required="" /><label class="form-sub-label" for="input_7" id="sublabel_input_7" style="min-height:13px" aria-hidden="false">example@example.com</label></span>                  </div>
                </li>
                <li class="form-line jf-required" data-type="control_matrix" id="id_9"><label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Your Children's details<span class="form-required">*</span> </label>
                    <div id="cid_9" class="form-input-wide jf-required" data-layout="full">
                        <table summary="" aria-labelledby="label_9" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                            <tr class="form-matrix-tr form-matrix-header-tr">
                                <th class="form-matrix-th" style="border:none"> </th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0" style="width:220px"><label id="label_9_col_0">Name</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1" style="width:220px"><label id="label_9_col_1">Age</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="width:220px"><label id="label_9_col_2">Year Level</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="width:200px"><label id="label_9_col_2">Languages</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="width:200px"><label id="label_9_col_2">Allergies</label></th>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_0">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_0">Child 1</label></th>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="child[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="age[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="level[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                        <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="languages[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="allergies[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_1">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_1"><span style="display: inline !important;">Child 2</span></label></th>
                                <td class="form-matrix-values"><input type="text" id="input_9_1_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="child[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_1"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_1_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="age[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_1"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_1_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="level[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_1"
                                        aria-label="Cells Text Box" /></td>
                                                                               <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="languages[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="allergies[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_2">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_2"><span style="display: inline !important;">Child 3</span></label></th>
                                <td class="form-matrix-values"><input type="text" id="input_9_2_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="child[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_2"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_2_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="age[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_2"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_2_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="level[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_2"
                                        aria-label="Cells Text Box" /></td>

                                                                               <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="languages[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="allergies[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_3">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_3"><span style="display: inline !important;">Child 4</span></label></th>
                                <td class="form-matrix-values"><input type="text" id="input_9_3_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="child[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_3"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_3_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="age[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_3"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_3_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="level[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_3"
                                        aria-label="Cells Text Box" /></td>
                                                                               <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="languages[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="allergies[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                        </table>
                    </div>
                </li>


                 <li class="form-line jf-required" data-type="control_matrix" id="id_9"><label class="form-label form-label-top form-label-auto" id="label_9" for="input_9"> Your Children's details<span class="form-required">*</span> </label>
                    <div id="cid_9" class="form-input-wide jf-required" data-layout="full">
                        <table summary="" aria-labelledby="label_9" cellPadding="4" cellSpacing="0" class="form-matrix-table" data-component="matrix">
                            <tr class="form-matrix-tr form-matrix-header-tr">
                                <th class="form-matrix-th" style="border:none"> </th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_0" style="width:220px"><label id="label_9_col_0">Previous School/s</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_1" style="width:220px"><label id="label_9_col_1">Syllabus</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="width:220px"><label id="label_9_col_2">Stage/Grade</label></th>
                                <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="width:200px"><label id="label_9_col_2">Term</label></th>
                                 <th scope="col" class="form-matrix-headers form-matrix-column-headers form-matrix-column_2" style="width:200px"><label id="label_9_col_2">Year</label></th>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_0">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_0">Child 1</label></th>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="school[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="syllabus[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="stage[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                        <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="term[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="year[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_1">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_1"><span style="display: inline !important;">Child 2</span></label></th>
                                 <td class="form-matrix-values"><input type="text" id="input_9_0_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="school[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="syllabus[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="stage[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                        <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="term[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="year[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_2">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_2"><span style="display: inline !important;">Child 3</span></label></th>
                                 <td class="form-matrix-values"><input type="text" id="input_9_0_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="school[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="syllabus[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="stage[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                        <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="term[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="year[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                            <tr class="form-matrix-tr form-matrix-value-tr" aria-labelledby="label_9 label_9_row_3">
                                <th scope="row" class="form-matrix-headers form-matrix-row-headers"><label id="label_9_row_3"><span style="display: inline !important;">Child 4</span></label></th>
                                 <td class="form-matrix-values"><input type="text" id="input_9_0_0" class="form-textbox validate[required, requireOneAnswer]" size="5" name="school[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_0 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_1" class="form-textbox validate[required, requireOneAnswer]" size="5" name="syllabus[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_1 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                                <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="stage[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                        <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="term[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>

                                         <td class="form-matrix-values"><input type="text" id="input_9_0_2" class="form-textbox validate[required, requireOneAnswer]" size="5" name="year[]" style="width:100%;box-sizing:border-box" value="" aria-labelledby="label_9_col_2 label_9_row_0"
                                        aria-label="Cells Text Box" /></td>
                            </tr>
                        </table>
                    </div>
                </li>
                <li class="form-line" data-type="control_textarea" id="id_10"><label class="form-label form-label-top form-label-auto" id="label_10" for="input_10"> If required, provide extra information below </label>
                    <div id="cid_10" class="form-input-wide" data-layout="full"> <textarea id="input_10" class="form-textarea" name="q10_ifRequired10" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_10"></textarea> </div>
                </li>
                <li class="form-line" data-type="control_button" id="id_2">
                    <div id="cid_2" class="form-input-wide" data-layout="full">
                        <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField"><button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">Submit</button></div>
                    </div>
                </li>
                <li style="display:none">Should be Empty: <input type="text" name="website" value="" /></li>
            </ul>
        </div>
        <script>
            JotForm.showJotFormPowered = "0";
        </script>
        <script>
            JotForm.poweredByText = "Powered by Jotform";
        </script><input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="212277524110041" />
        <script type="text/javascript">
            var all_spc = document.querySelectorAll("form[id='212277524110041'] .si" + "mple" + "_spc");
            for (var i = 0; i < all_spc.length; i++) {
                all_spc[i].value = "212277524110041-212277524110041";
            }
        </script>
    </form>
    </div>
      {{/if}}
</body>

</html>
<script src="formX/cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.39015"></script>
<script src="formX/cdn.jotfor.ms//js/errorNavigation.js?v=3.3.39015"></script>