<!DOCTYPE html>
<html>
    <head>
        <title>Reporting demo</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="statements/css/styles.css" />
        <link rel="stylesheet" href="statements/css/statement.css" />
        <link rel="stylesheet" href="statements/css/addendum.css" />

        <style type="text/css">
            @page statement {
                @bottom-right {
                    content: "Page " counter(page) " of " target-counter(url("#end"), page);
                }
            }
        </style>
        

        <style>
            @import "fonts.css";

.statement,
.addendum {
       break-after: page;
    page-break-before: always;
}

.statement {
    page: statement;
}

.statement-cgls {
    page: statement-cgls;
}


.addendum {
    page: addendum;
}

/* general page size and margins */

@page {
    size: 8.3in 11.7in;
    margin-bottom: 20.26pt;
    margin-top: 105.38pt;
   page-break-before: always;

/* First statement page has a custom margin-top */
@page :first {
    margin-top: 20.26pt;
}

/* same for CGLS page */
@page statement-cgls {
    margin-top: 20.26pt;
}

/* ATT: page 1 is usually a right page. But for the statements
 * page 1 should be left page that's why we swap :right and :left
 * in order to get left/right margins on left/right pages right
 */

@page :right{
    margin-left: 73.22pt;
    margin-right: 36.14pt;
}

@page :left {
    margin-left: 36.14pt;
    margin-right: 73.22pt;
}

        </style>

        <style>
            @import "fonts.css";

body {
    font-size: 8pt;
    font-family: Arial;
}

.head1-left {
    position: absolute;
    top: 0;
    /* left indent for image */
    left: -30pt; 
}

.head1-left img {
    /* Width of top-left 50% table (investor information) */
    max-width: 245.40pt;
    height: auto;
}

/* text in box should vertically aligned bottom with a height of 51.63pt.
 * Using `top` here should have the same effect.
 */
.head1-right {
    position: absolute;
    text-align: right;
    top: 14pt;
    right: 0;
    vertical-align: bottom;
}

.head-title {
    font-family: "Lucida Grande";
    font-size: 16pt;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 0.5em;
}

.head-date {
    font-family: "Lucida Grande";
    font-size: 10pt;
}

.head2-left {
    position: absolute;
    top: 4cm;
    left: 0;
    width: 40%;
    font-family: Arial;
    font-size: 9pt;
}

.head2-right {
    position: absolute;
    text-align: right;
    top: 93.40pt;
    right: 0;
    font-family: "Lucida Grande"
}
/* vertical spacer on first page where the tables start.
 * Address, advisor etc. have an absolute positioning.
 */
.spacer {
    height: 264.25pt;
}

/* Vertical spacer on CGLS page */
.spacer2 {
    height: 30mm;
}

/* turn .footer into a running element */
.footer {
    position: running(footer);
    font-size: 9pt;
    font-family: Arial;
}

.advisor {
    border-right: 1pt solid grey;
    text-transform: uppercase;
    margin-right: -5px;
    padding-right: 3px;
    font-size: 9pt;
    line-height: 1.4em;
}

.advisor-title {
    font-weight: bold;
    font-style: italic;
    font-size: 11pt;
    margin-bottom: 0.25em;
}

.sequence-number {
    font-family: Arial;
    color: grey;
    font-size: 6pt; 
    text-align: right;
}

table.accounting {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 25.81pt;
    font-family: Arial;
    font-size: 8pt;
    margin-bottom: 25.81pt;
    break-inside: avoid;
}

table.layout-fixed {
    table-layout: fixed;
}

table.accounting tr {
    padding: 0;
    margin: 0;
}

table.accounting th,
table.accounting td {
    max-width: 20%;
}

table.accounting caption {
    text-align: left;
    border-top: 0.6pt solid #5972b2;
    margin-bottom: 1em;
}

table.accounting caption span {
    font-family: goudyoldstylet;
    background: #5972b2;
    font-weight: bold;
    font-size: 10pt;
    color: white;
    display: inline-block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table.accounting .headers th {
    font-family: "Lucida Grande";
    font-weight: bold;
    font-style: italic;
}

table.accounting td {
    padding-top: 1px;
    padding-bottom: 2px;
}

table.accounting tfoot td {
    padding-top: 1em;
}

/* Investor/Account information 50|50 tables implemented
 * as left/right float within their #two-tables container
 */

.two-tables .table-left {
    float: left;
    width: 245.40pt;
}

.two-tables .table-right {
    float: right;
    width: 245.40pt;
}

/* general table cell decoration with borders */

.border-top td {
    border-top: 1px solid black;
}

.border-bottom td {
    border-bottom: 1px solid black;
}

/* text alignment within a cell */

table.accounting .text-left {
    text-align: left
}

table.accounting .text-right {
    text-align: right;
}

table.accounting .text-center {
    text-align: center;
}

table.accounting .extra-top-padding {
    padding-top: 1em;
}


table.accounting .extra-bottom-padding {
    padding-bottom: 1em;
}

table.width-50 {
    width: 245.40pt;
}

/* defines font classes by pt size for general usage */

.text-7 {
    font-size: 7pt;
}

.text-8 {
    font-size: 8pt;
}

.text-9 {
    font-size: 10pt;
}


.text-10 {
    font-size: 10pt;
}

/* text/font decorations */

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* needed for Weasyprint (#1062)*/
table::before {
    content: target-counter(url(#end), page);
    display: none;
}

.chart {
    border-bottom: 1px solid black;
    margin-bottom: 2em;
}

.chart img {
    max-width: 100%
}

.footnote-marker {
    display: inline-block;
    width: 0.5em;
}

.cgls-head {
    margin-bottom: 4em;
}

@page statement {

    margin-bottom: 30mm;

    @bottom-left {
        content: element(footer);
        vertical-align: bottom;
        display: table-cell;
        border-bottom: 1pt solid grey;
        font-family: Arial;
        margin-bottom: 1cm;
        height: 1.5cm;
    }
    @bottom-right {
        font-family: Arial;
        font-size: 8pt;
        border-bottom: 1pt solid grey;
        vertical-align: bottom;
        width: 3cm;
        height: 1.5cm;
        display: table-cell;
        content: "Page " counter(page) " of " counter(pages);
        margin-bottom: 1cm;
    }
}

@page statement-cgls {

    margin-bottom: 30mm;

    @bottom-left {
        content: element(footer);
        vertical-align: bottom;
        display: table-cell;
        border-bottom: 1pt solid grey;
        font-family: Arial;
        margin-bottom: 1cm;
        height: 1.5cm;
    }
}

        </style>


        <style>
            @import "fonts.css";

@page {
  size: 8.5in 11in;
  margin: 0.5in;
  margin-top: 1in;
}

body {
  font-size: 9pt;
}

.letter {
  font-family: "Lucida Grande";
}

h1 {
  font-size: 9pt;
  text-align: center;
  font-weight: bold;
  break-after: avoid;
}

h2 {
  font-size: 8pt;
  font-weight: bold;
  break-after: avoid;
}

p {
  text-align: justify;
  hyphens: auto;
}

.footer-link {
  color: #be945b;
}

div.letter {
  line-height: 1.6em;
}

.letter-logo {
  position: running(letter-logo);
  text-align: center;
}

.letter-logo img {
  width: 30mm;
  height: auto;
}

.letter-footer {
  position: running(letter-footer);
  font-size: 8pt;
  font-family: "Lucida Grande";
  text-align: center;
}

.letter-signature {
  width: 3cm;
  display: block;
}

.letter p {
  break-inside: avoid;
}

.letter-closing {
  break-inside: avoid;
}

@page addendum {
  @bottom-center {
    content: element(letter-footer);
  }

  @top-center {
    content: element(letter-logo);
  }
}

.addendum-images img {
    width: 100%;
}

        </style>
    </head>
    <body lang="en">
         
            <article>
     <section class="statement" >
        <div >
    <div class="footer" >
         <img src="https://www.zimbabweyp.com/img/zw/x/1537355192-92-watershed-college.jpg"  alt="alt text" />
        <div>SchoolZoid Merit/Demerit Reports Pilot System<br/>  Website: https://schoolzoid.co.zw<br />Email: info@schoolzoid.co.zw</div>
    </div>

     <div class="head1-left">
       
           <!--  <img src="logo.png" />
        
        <img src="https://www.zimbabweyp.com/img/zw/x/1537355192-92-watershed-college.jpg"  alt="alt text" />
       <img src="statements/assets/LogoSizingSample.png" />-->
    </div>

    <div class="container" style="margin-top: 20px;"></div>

    <div class="head1-right" style="page-break-before: always">
        <div class="head-title">Student Details </div>

       <!-- <div class="head-date">January 01, 2019 to March 31, 2019</div>-->
       
    <div class="head2-right" style="page-break-before: always">
        <div class="advisor-title" xpath=".//YFAS_TITLE">{{this.0.studentName}}</div>
        <div class="advisor-outer">
            <div class="advisor">
                <div><em> Student ID: {{this.0.studentId}}</em></div>
                <div><em>Term: {{this.0.term}}</em></div>
                <div><em>Year: {{this.0.year}}</em> </div>
  
                <!--<div>NANAIMO BC B1A 2CB</div>-->
                <div></div>
                <div></div>
                <!--<div>Telephone Number</div>
                <div>(299)  555-1234</div>-->
            </div>
        </div>
    </div>
    
    </div>

  



    <div class="two-tables">
          <table class="accounting table-left">
    <caption>
        <span>Hostel Information</span>
    </caption>
   <!-- <thead>
        <tr class="headers">
            <th class="text-left">Account Type</th>
            <th class="text-left">Account Number</th>
        </tr>
    </thead>-->
    <tbody>
        <tr class="headers border-bottom"  style="page-break-inside: avoid;">
            <td class="text-left text-10 bold">Hostel - {{this.0.hostel}}</td>
            <!--<td class="text-left text-10 bold">19570</td>-->
        </tr>
    </tbody>
    <tfoot>
        
            <tr class="border-bottom">
                <td colspan="2">
                    <div class="text-left text-10 bold">Room - {{this.0.room}} </div>
                    <!--<div class="text-left">{{doc.room}}</div>
                       <div class="text-left">{{doc.floor}}</div>-->
                    The School provides hostel facilities for outstation students. The
occupants are expected to take good care of it, so as to benefit more students in future.The system, based on guidelines stipulated in the
School Student Code of Conduct acts a guidelines with regards to the DOs & DONTs while occupying
the Schools' hostels facilities.
                </td>
            </tr>
        
        
        
    </tfoot>
</table>

<div class="container"></div>
  
</table>
    
        <table class="accounting table-right"  >
    <caption>
        <span>Term:{{this.0.term}}_ Summary</span>
    </caption>
    <tbody>
        <tr class="border-bottom"  style="break-inside: avoid">
            <td class="text-left text-10">
              Total Float<br />(Cash Deposited)
            </td>
            <td class="text-right text-10">
              {{this.0.iFloat}}
            </td>
        </tr>
        <tr class="border-bottom"  style="break-inside: avoid">
            <td class="text-left">
             Total Cash Requested
            </td>
            <td class="text-right">
              {{this.0.iVouchers}}
            </td>
        </tr>
        <tr class="border-bottom"  style="break-inside: avoid">
            <td class="text-left">
             Remaining Balance As At {{this.0.date}}
            </td>
            <td class="text-right">
              {{this.0.iBalance}}
            </td>
        </tr>
    </tbody>
    <div class="container"></div>
</table>
        <!--<div style="clear: both"></div>-->
    </div>
    {{#each this}}
    <table class="accounting account-summary"  style="break-inside: avoid">
    <caption>
        <span>{{this.studentName}}</span>
    </caption>
    <thead>
        <tr class="headers border-bottom"  style="break-inside: avoid">
            <th class="text-left">Date</th>
            <th class="text-center">Amount _ {{this.type2}}  <br /> ($)</th>
            <th class="text-right">Old Balance<br /> ($)</th>
            <th class="text-right">New Balance<br /> ($)</th>
            
           <!-- <th class="text-right">Unit<br />Price ($)</th>
            <th class="text-right">Market<br />Value ($)</th>-->
        </tr>
    </thead>
    <tbody>
        <tr class="border-bottom"  style="break-inside: avoid">
            <td colspan="7" class="text-7 text-left">{{this.date}}</td>
        </tr>
        
        <tr class="border-bottom"  style="break-inside: avoid">
            <td class="text-left">{{this.type}}</td>
            <td class="text-center">{{this.amount}}</td>
            <td class="text-right">{{this.oldBalance}}</td>
            <td class="text-right">{{this.newBalance}}</td>
  
            
        </tr>
        <tr class="border-bottom"  style="break-inside: avoid">
            <td class="text-left" colspan="2"></td>
            <td class="text-right" colspan="1"></td>
            <td class="text-right" colspan="4"></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td class="text-7" colspan="7">"<b>Book cost</b>" means the total amount paid to purchase an investment, including any transaction charges related to the purchase, adjusted for reinvested distributions, return of capital and corporate reorganizations.<br />The book (original) cost shown in this statement may not be suitable for income tax purposes, as it may not reflect all required adjustments. It is important for you to keep records of all of your investment transactions and consult your income tax advisor to properly determine your gains and losses for income tax purposes.<br /><br />"<b>Market value</b>" is the price at which an investment can be sold on the open market at a specific point in time. The market value of an investment fund is its<br />"<b>Net Asset Value</b>". This is usually calculated by investment managers once per day/week/month.</td>
        </tr>
    </tfoot>
</table>
{{/each}}
    

    

    <div>Please review your statement of account carefully.  If there is any information that does not match your records, contact your Financial Advisor or our Client Services department within 60 days.</div>
    <div></div>
    <div></div>

</div>
        <div id="end"></div>
    </section>

    


    <!-- MAT.PDF as two images
    <div class="addendum-images">
        <img src="MAT_INSERT_20190331_V1-0.png"/>
        <img src="MAT_INSERT_20190331_V1-1.png"/>
    </div>
    -->

</article> 
        
    </body>
</html>
